---
import "@fontsource/poppins/600.css"
import { Button } from "@/components/ui/button"
---

<div
  class='h-screen w-full flex items-center justify-center bg-gradient-to-tr from-[#31949F] to-[#49BCB0]'
>
  <div class='flex flex-col items-center'>
    <h1 class='not-found text-[13rem] text-gray-100'>404</h1>
    <p class='not-found w-2/3 text-center text-2xl text-gray-300 mb-10'>
      The page you are looking for doesn't exist or has been moved. Please go
      back to the homepage.
    </p>
    <Button className='not-found rounded-sm text-lg'>
      <a href='/'> Go back home </a>
    </Button>
  </div>
</div>

<style>
  .not-found {
    font-family: "Poppins", sans-serif;
  }
</style>
